@{
    ViewData["Title"] = "Home Page";
}

<h1>Theme</h1>
<div class="row">
    <div class="col-md-12">
        <h2>These are the parameters which can be passed to the API:</h2>
        <ul>
            <li>bool isDarkTheme</li>
            <li>Colors colors</li>
            <li>string typeface</li>
            <li>float roundness</li>
            <li>int elevation</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Based on the parameters the API generates css theme. An example of it can be reviewed here:
        http://localhost:2602/api/taas?isDarkTheme=false&colors.Primary=%23231736&colors.Secondary=%23231736
    </div>
</div>



