@import "{{RootPath}}/IG/igniteui-angular/lib/core/styles/themes/index";
@include igx-core();
@include {{theme}}({{palette}});
@include igx-typography($font-family: "{{typeface}}");
@include igx-button(igx-button-theme($flat-border-radius: {{roundness}}, $raised-border-radius: {{roundness}}));
@include igx-card(igx-card-theme($resting-shadow: igx-elevation($elevations, {{elevation}})));